x-default-env: &default-env
  POETRY_NO_INTERACTION: "1"
  PIP_DEFAULT_TIMEOUT: "100"
  PYTHONUNBUFFERED: "1"

x-default-args: &default-args
  TZ: ${TZ:-Asia/Vladivostok}
  DOCKER_HOST_UID: ${DOCKER_HOST_UID:-1000}
  DOCKER_HOST_GID: ${DOCKER_HOST_GID:-1000}
  DOCKER_USER: ${DOCKER_USER:-developer}
  DOCKER_USER_HOME: ${DOCKER_USER_HOME:-/home/developer}
  MIRROR_LIST_COUNTRY: ${MIRROR_LIST_COUNTRY:-RU}
  BUILD_PACKAGES: ${BUILD_PACKAGES:-pyenv git gnupg sudo postgresql-libs mariadb-libs openmp}
  VIM_PACKAGES: ${VIM_PACKAGES:-python vim ctags ripgrep bat npm nodejs-lts-jod}
  PYTHON_VERSION: ${PYTHON_VERSION:-3.14}
  POETRY_VERSION: ${POETRY_VERSION:-2.2.1}
  POETRY_OPTIONS_APP: ${POETRY_OPTIONS_APP:---only main --compile}
  POETRY_OPTIONS_DEV: ${POETRY_OPTIONS_DEV:---no-root --with-dev --compile}
  NPM_GLOBAL_PACKAGES: ${NPM_GLOBAL_PACKAGES:-}

services:
  python-base:
    platform: linux/amd64
    build:
      target: python-base
      args: *default-args
    environment:
      <<: *default-env
  poetry:
    platform: linux/amd64
    entrypoint: poetry
    build:
      target: poetry
      args: *default-args
    environment:
      <<: *default-env
    volumes:
      - type: bind
        source: .
        target: /application
      - type: volume
        source: pip-cache
        target: /var/cache/pip
      - type: volume
        source: poetry-cache
        target: /var/cache/pypoetry
  vim-ide:
    platform: linux/amd64
    entrypoint: vim
    build:
      target: vim-ide
      args: *default-args
    environment:
      <<: *default-env
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
    volumes:
      - type: bind
        source: .
        target: /application
  gemini:
    platform: linux/amd64
    entrypoint: gemini
    build:
      target: vim-ide
      args: *default-args
    environment:
      <<: *default-env
      GEMINI_API_KEY: ${GEMINI_API_KEY}
    volumes:
      - type: bind
        source: .
        target: /application
  codex:
    platform: linux/amd64
    entrypoint: codex
    build:
      target: vim-ide
      args: *default-args
    environment:
      <<: *default-env
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    volumes:
      - type: bind
        source: .
        target: /application
  jupyterlab:
    platform: linux/amd64
    entrypoint:
      - jupyter-lab
      - --port=8888
      - --ip="0.0.0.0"
      - --no-browser
      - --IdentityProvider.token=${JUPYTER_TOKEN}
    ports:
      - "8888:8888"
    build:
      target: dev-build
      args: *default-args
    environment:
      <<: *default-env
    volumes:
      - type: bind
        source: .
        target: /application
  app:
    platform: linux/amd64
    entrypoint: template_bin
    build:
      target: app-build
      args: *default-args
    environment:
      <<: *default-env
volumes:
  pip-cache:
    driver: local
  poetry-cache:
    driver: local
